<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
      <customErrors>
        <!-- Rewrite everything to index.html, which handles the routing for the entire app. -->
        <error statusCode="404" redirect="index.html" />
      </customErrors>
  </system.web>
</configuration>