@import "../fonts";

.article-block-quote {
    &>blockquote{
        &::before {
            content: "“";
        }
        &::after {
            content: "”";
        }        
        font-style: italic;
        margin-bottom: 0;
    }
    &>p {
        &::before{
            content: "—\00a0";
        }
        margin-top: 0.3em;
    }
}