@import "../transitions";
@import "../fonts";
@import "../colors";
.articles {
    background: $color-background;
    $border: 20px;
    $shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: $shadow;    
    &>article{
        margin-top: 70vh;
        padding-top: 1px;
        &>ol>li {
            &:first-child {
                &>.article-summary {
                    margin-top: $border;   
                }
            }
        }
        &>nav {
            margin: $border 0;
        }
    }
}