@import "../fonts";

.article-block-quote {
    &>blockquote{
        &::before {
            content: "“";
        }
        &::after {
            content: "”";
        }
        margin-top: 2em;
        font-style: italic;
        margin-bottom: 0;
    }
    &>span {
        &::before{
            content: "—\00a0";
        }
        margin-top: 0;
        margin-bottom: 2em;
    }
}