@import "../colors";
@import "../fonts";

.article-summary {
    h1 {
        @include font-h2();
        margin:0;
    }
    span {
        color: $color-text-secondary;
    }
    p {
        margin-top: 0;
    }
}