@import "../transitions";
@import "../fonts";
@import "../colors";
.series {
  background: $color-background;
  $border: 20px;
  & > article {
    margin-top: 2em;
    & > ol > li {
      &:first-child {
        & > .article-summary {
          margin-top: $border;
        }
      }
    }
    & > nav {
      margin: $border 0;
    }
  }
}
