@import "../node_modules/reset-css/_reset";
@import "./colors";
@import "./fonts";
@import "./transitions";

$text-width: 33em;
$page-margin-minimum: 2em;
$text-font-size: 16px;

body {
    font-size: $text-font-size;
    margin: 4vw auto;
    // You should be able to read the line with eye movement only (no head movement).    
    max-width: $text-width; 
    @media (max-width:#{$text-width + 2 * $page-margin-minimum}) {
        margin-left: 2em;
        margin-right: 2em;
    }
    color: $color-text;
    background: $color-background;
}

h1 {
    @include font-h1();
    margin: 0;
}

p, span, dd, dt, blockquote{
    @include font-serif();
    font-size: $text-font-size;
    margin: $text-font-size 0 $text-font-size 0;
    line-height: 1.4;
    &+dl {
        margin-left: 2em;
    }
}

blockquote {
    margin-top: 2em;
    font-style: italic;
    margin-bottom: 0;
    &+span {
        @include font-weight-bold();
        margin-top: 0;
        margin-bottom: 2em;
    }
}


dl {
    &>dt {
        @include font-weight-bold();
        margin-bottom: 0;
    }
    &>dd {
        margin-top: 0;
    }
}


strong {
    @include font-weight-bold();
}

ul, ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $color-link;
    &::before {
        opacity: 0;
        transition: transform $transition-function, opacity $transition-function;
        content: "→\00a0";
        position: absolute;
        transform: translateX(calc(-100% - 0.2em));
    }
    &:hover {        
        &::before {
            opacity: 1;
            transform: translateX(-100%);
        }
    }
}

article {
    header {
        h1 {
            @include font-h1();
        }
    }
    section {
        h1 {
            @include font-h2();
        }
    }
    section+section{
        margin-top: 2em;
    }
}